.h1-nav{
    font-family: 'Americorps', cursive;
    justify-self: flex-start;
    cursor: pointer;
    font-size: 2.5rem;   
    font-weight: bold;
    text-decoration: none;
    color: rgb(255, 255, 255);



}

.h1-nav:hover{

            color: #fff;
            transition: 0.3s ease-out
        
}

h1{
    font-family: 'Pacifico', cursive;
}

.btn-outline-secondary{
    font-family: 'Arial';
    font-weight: bold !important;
    color: #fff !important;
    background-color: #DB1962 !important;
    border-color: #DB1962 !important;
    
}

.btn-outline-secondary:hover {

    color: #000 !important;
    border-color: #000 !important;
    background-color: #fff !important;
    transition: 0.3s ease-out
}

.btn-primary {
    font-family: 'Arial';
    font-weight: bold !important;
    color: #fff !important;
    background-color: #DB1962 !important;
    border-color: #DB1962 !important;

}

.btn-primary:hover {

    color: #000 !important;
    border-color: #000 !important;
    background-color: #fff !important;
    transition: 0.3s ease-out
}

.modal-title{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.form-control:hover {
    box-shadow: #DB1962 !important;
}

.nav-back {
    background-color:  #000;
  }

span{
    font-family: 'americorps';
    color: #DB1962;
}