*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.carousel-fade.carousel-inner.item{
  opacity: 0;
      -webkit-transition-property: opacity;
      transition-property: opacity;
  
}

@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
    -webkit-transform: translate3d( 0, 0, 0);
    transform: translate3d( 0, 0, 0);
  }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
    -webkit-transform: translate3d( 0, 0, 0);
    transform: translate3d( 0, 0, 0);
  }
  .carousel-inner > .item.next.left,
  .carousel-inner > .item.prev.right,
  .carousel-inner > .item.active {
     -webkit-transform: translate3d(0, 0, 0);
     transform: translate3d(0, 0, 0);
  }
}

/*
.slider {
  position: relative;
  height: 88.2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 1730px;
  height: 775px;
  border-radius: 0px;
}

.right-arrow {
  position: absolute;
  top : 50%;
  right: 32px;
  font-size: 3rem;
  color: black;
  cursor: pointer;
  z-index: 10;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top : 50%;
  left: 32px;
  font-size: 3rem;
  color: black;
  cursor: pointer;
  user-select: none;
}

.slide{
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active{
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

*/